* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  height: 100vh;
  background: rgb(rgb(255, 255, 255));
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: url('Assets/img/banner-bk.jpg') no-repeat center center;
    background-size: cover;
    color: white; /* Agregamos color blanco al texto para que sea visible */
    text-align: center; /* Centramos el texto horizontalmente */
  }

.logo-container{
    position: absolute;
    z-index: 1;
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    left: 10px; /* Ajusta la posición horizontal según sea necesario */
    display: flex;
    align-items: center;
    height: 10rem;
    width: 70rem;
   
}

.logo {
    max-width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }

.text-title {
  color: white;
  font-size: 2em;
  z-index: 0;
}

.text-introduction {
  color: white;
  font-size: 2em;
  z-index: 2;
  text-align: center;
  margin-bottom: 20px;
}

.btn-youtube {
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical según sea necesario */
  right: 20px; /* Ajusta la posición horizontal según sea necesario */
  background-color: rgb(219, 213, 213); /* Ejemplo de color de fondo */
  color: blueviolet; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  z-index: 1; /* Asegura que el botón esté encima del contenido del banner */
  
}
